*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Dosis', Verdana;
}
#main {
  flex: 1 0 auto;
}
#footer {
  flex: 1 0 auto;
}
